<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hueverianieto">

    <application
        android:name=".HueveriaNietoInternaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">>
        <activity
            android:name=".ui.views.login.LoginActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.main.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.clients.AllClientsActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.internalusers.AllInternalUsersActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.allorders.AllOrdersActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.clientsbilling.ClientsBillingActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.sellingprice.SellingPriceActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.workersresources.WorkersResourcesActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>